# react

snippet className
alias   cln
	className="${1:TARGET}"${2}

snippet import-react
	import React, { Component, PropTypes } from 'react';

snippet componentDidMount
	componentDidMount() {
		${1:TARGET}
	}

snippet componentWillReceiveProps
	componentWillReceiveProps(nextProps) {
		${1:TARGET}
	}

snippet componentWillUnmount
	componentWillUnmount() {
		${1:TARGET}
	}
